/node_modules
/public/hot
/public/storage
/storage/app/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
credentials.local.txt
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/cache/*.php
.DS_Store
Thumbs.db
